<%- include('./includes/header'); %>

    <h1><%= title %></h1>

    <div class="d-flex justify-content-center align-item-center">
        <div id="modale">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eum nostrum dolor accusantium cum labore numquam commodi vitae est iusto, eos ea sapiente veniam aut! Optio delectus atque excepturi saepe.
        </div>
    </div>
        

    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>