<%- include('./includes/header'); %>

    <h1><%= title %></h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quaerat natus et cum possimus quod consequatur ipsa nobis ducimus, saepe laborum! Pariatur rem, iusto provident assumenda quos est dicta culpa!</p>
    
    <p>Nickname:<span><%= user.nickname %><</span>/p>

    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>