<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>

    <div class="container">
        <h1 class="bg-warning"><%= title %></h1>
        <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque neque minus dicta fugit eos, voluptate accusantium nulla sequi odio repellat voluptas maxime ex facilis rem culpa corrupti veniam hic sint.</p>
        <p class="text-success">dsdsd</p>
    
       <ul class="">
        <% list.forEach(data=>{%>
            <li class="py-2"><%= data %></li>
        <% }); %>
       </ul>
    </div>





   <script language="javascript" src="js/bootstrap.min.js"></script>
</body>
</html>